@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:wght@400;500;700&display=swap');
html, body{
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
#root{
    height: 100%;
}
.bg-primary{
    background-color: #131823 !important;
}